<% layout('layout/boilerplate')%>
    <h1>All campground</h1>
    <div>
        <a href="/campgrounds/new">Add New Campground</a>
    </div>
      
      <div class="row">
        <% for (let i = 0; i < campgrounds.length; i++) {
          let campground = campgrounds[i];
          if (i % 3 === 0) { %>
            <div class="row">
        <% } %>
          <div class="col-md-4">
            <div class="card mb-3 smoky-card" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://source.unsplash.com/random?campground=<%= i %>" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><%= campground.title %></h5>
                    <p class="card-text"><%= campground.description %></p>
                    <p class="card-text"><small class="text-muted"><%= campground.location %></small></p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View <%= campground.title %></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% if ((i + 1) % 3 === 0 || i === campgrounds.length - 1) { %>
            </div>
        <% }
        } %>
      </div>
      
    